<section>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-md-12">
          <ul class="model-menu">
              <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li> |
              <li><a> Helmet Detector</a></li>
          </ul>
        </div>
        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-6 p-2 text-center">
                    <div class="video-container" *ngIf="!error">
                        <div class="row">
                            <video [class.show]="!isCaptured" class="card py-2 p-1" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT" autoplay></video>
                            <canvas [class.show]="isCaptured" class="card py-2 p-1" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH" [height]="HEIGHT"></canvas>
                        </div>
                    </div>
                    <div class="snap-container">
                        <button class="btn" [ngClass]="[isCaptureStart ? 'btn-danger' : 'bg-success']" (click)="stopCapture()">{{isCaptureStart ? 'Stop' : 'Start'}} Capture</button>
                        <button class="btn btn-primary" *ngIf="!isCaptured" (click)="capture()">Snap Photo</button>
                        <button class="btn btn-danger" *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>
                        <!-- <ul class="list-unstyled">
                            <li *ngFor="let src of captures; let i = index" (click)="setPhoto(i)">
                                <img [src]="src" class="img-thumbnail" width="100">
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="row card p-2">
                        <div class="table-responsive">
                            <table class="table table-hover align-middle" id="export">
                              <thead class="text-white sticky-top theadbg">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Image</th>
                                  <th scope="col">No. of Violations</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of violationData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i=index">
                                  <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                                  <td data-title="Options" class="text-center">
                                    <img *ngIf="data?.image" src="http://103.149.113.100:8224/{{data.image}}" (click)="generateQr(data.image)" class="img-thumbnail" width="100" data-bs-toggle="modal" data-bs-target="#imageView">
                                  </td>
                                  <td>{{data.number_of_violations}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="input-group-icon input-group-icon-right text-center mt-2">
                              <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imageView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header modalHeaderCenter" style="background: #454397">
                    <h2 class="modal-title text-white text-center">View Image</h2>
                    <a class="btn-close2" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
                  </div>
                  <div class="modal-body px-5 p-2">
                    <div class="row">
                        <img [src]="viewImage" style="width: 100%;">
                    </div>
                  </div>
                  <div class="modal-footer border-btm">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</section>