<section>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="col-md-12">
        <ul class="model-menu">
          <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li> |
          <li><a>Contact Details</a></li>/
          <li><a>{{id}}</a></li>
        </ul>
      </div>
      <div class="col-md-12 card mt-2">
        <div class="sidebarMain-1">
          <div class="row text-center bg-primary text-white">
            <h1>Contact detail</h1>
          </div>
          <div class="row mt-2">
            <div class="col-md-4 p-1" *ngFor="let data of contactData; let i = index">
              <div *ngIf="(i+1)%2 == 0" style="display: flex;">
                <div class="col-md-3">{{data.key}}</div>
                <div class="col-md-1 fw-bold">:</div>
                <div class="col-md-8">{{data.value}}</div>
              </div>
              <div *ngIf="(i+1)%2 != 0" style="display: flex;">
                <div class="col-md-3">{{data.key}}</div>
                <div class="col-md-1 fw-bold">:</div>
                <div class="col-md-8">{{data.value}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
